<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://www.tsubasa-dreamteam.com/images/system/pc/banner_220325_gl.jpg" alt="placeholder" height="200px" srcset="">
  </div>
  
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, aperiam ad ex at eius eveniet esse eaque, rem officia totam ut. Atque, animi! Inventore asperiores sunt, id ut facere atque.</a></p>
  </div>
</div>
